h1
{
    color: blue;
    text-align: center;

}
.container
{
    position: absolute;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 0px;
    width: 100%;
    background: white;
  border: 2px solid #ccc;
  padding: 40px;
  width: 80%;
  max-width: 900px;
  text-align: center;
  border-radius: 10px;
  margin-left: 20%;
}
pic
{
  position: absolute;
}
.box {
            margin-left: 20px;
            margin-bottom: 100px;
            margin-right: 20px;
            border-color: solid white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: solid white;
}
.container button
{
    color: white;
    text-decoration-color: white;
    text-align: center;
    margin-left: 120%;
    width :max-content;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: rgb(89, 89, 247);
    transition: 
    background-color 0.3s ease,
    transform 0.2s ease,
    box-shadow 0.2s ease;
    border-width: 5px;
    border-color: rgb(3, 3, 86);
    animation:infinite;
}
.box1
{
    text-align: center;
}
